## Merge Hotel Data (with Country Codes) with Happiness Data 2015

In [46]:
import pandas as pd


# Data load Happiness Score 2015

df_15 = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS_2/TechsLabTeam2/Data/Raw/Happiness/World Happiness/2015.csv")

complete_columns = list(df_15.columns)
display(complete_columns)

# add column "Year" with the value "2015"

df_15['Year'] = int(2015)

complete_columns = list(df_15.columns)
display(complete_columns)

display(df_15)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015

In [47]:
# Data load Happiness Score 2015

df_16 = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS_2/TechsLabTeam2/Data/Raw/Happiness/World Happiness/2016.csv")

complete_columns = list(df_16.columns)
display(complete_columns)

# add column "Year" with the value "2015"

df_16['Year'] = int(2016)

display(df_16)

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [48]:
## merge of hotel happiness 2015 and 2016
df_15_16 = pd.concat([df_15, df_16])

display(df_15_16)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year,Lower Confidence Interval,Upper Confidence Interval
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,NaN,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016,3.404,3.564
153,Afghanistan,Southern Asia,154,3.360,NaN,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016,3.288,3.432
154,Togo,Sub-Saharan Africa,155,3.303,NaN,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016,3.192,3.414
155,Syria,Middle East and Northern Africa,156,3.069,NaN,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016,2.936,3.202
156,Burundi,Sub-Saharan Africa,157,2.905,NaN,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016,2.732,3.078

In [49]:
df_17 = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS_2/TechsLabTeam2/Data/Raw/Happiness/World Happiness/2017.csv")

complete_columns = list(df_17.columns)
display(complete_columns)

# add column "Year" with the value "2017"

df_17['Year'] = int(2017)

display(df_17)

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,2017
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,2017
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,2017
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,2017
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,2017

In [50]:
# Merge 2015_2016 and 2017
df_15_16_17 = pd.concat([df_15_16, df_17])

display(df_15_16_17)

complete_columns = list(df_15_16_17.columns)
display(complete_columns)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Lower Confidence Interval,Upper Confidence Interval,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.349510,0.94143,0.665570,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.402230,0.94784,0.628770,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.360580,0.87464,0.649380,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.330950,0.88521,0.669730,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.322610,0.90563,0.632970,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,NaN,NaN,NaN,NaN,NaN,0.945707,NaN,0.581844,NaN,...,NaN,NaN,151.0,3.471,3.543030,3.398970,0.368746,0.326425,0.455220,0.540061
151,Syria,NaN,NaN,NaN,NaN,NaN,0.396103,NaN,0.081539,NaN,...,NaN,NaN,152.0,3.462,3.663669,3.260331,0.777153,0.500533,0.151347,1.061574
152,Tanzania,NaN,NaN,NaN,NaN,NaN,1.041990,NaN,0.390018,NaN,...,NaN,NaN,153.0,3.349,3.461430,3.236570,0.511136,0.364509,0.066035,0.621130
153,Burundi,NaN,NaN,NaN,NaN,NaN,0.629794,NaN,0.059901,NaN,...,NaN,NaN,154.0,2.905,3.074690,2.735310,0.091623,0.151611,0.084148,1.683024
154,Central African Republic,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.270842,NaN,...,NaN,NaN,155.0,2.693,2.864884,2.521116,0.000000,0.018773,0.056565,2.066005

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Health..Life.Expectancy.',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

In [51]:
# Hotel inkl. Country Codes (hotel shape war: 119390 rows Ã— 32 columns, jetzt plus 5 Spalten fÃ¼r Country Codes Merge)

df_travel = pd.read_csv("C:/Users/jkr/Documents/9 Computer/Informatik/Techlabs/DataScienceTrack/Project_DS_2/TechsLabTeam2/Data/Edited/Hotel_CountryCodes.csv", encoding="ISO-8859-1")
display(df_travel)

# df15_16_17 Happiness Daten

## merge of hotel (codes) and happiness data frame 
df_travel_happy = pd.merge(df_travel, df_15_16_17, left_on=["country_common", "arrival_date_year"], right_on=["Country", "Year"], how="left")
display(df_travel_happy)

complete_columns = list(df_travel_happy.columns)
display(complete_columns)

,iso2,iso3,iso_num,country_x,country_common,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,PT,PRT,620.0,Portugal,Portugal,Resort Hotel,0,342,2015,July,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,PT,PRT,620.0,Portugal,Portugal,Resort Hotel,0,737,2015,July,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,7,2015,July,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,13,2015,July,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,14,2015,July,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,BE,BEL,56.0,Belgium,Belgium,City Hotel,0,23,2017,August,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,FR,FRA,250.0,France,France,City Hotel,0,102,2017,August,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,DE,DEU,276.0,Germany,Germany,City Hotel,0,34,2017,August,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,City Hotel,0,109,2017,August,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,DE,DEU,276.0,Germany,Germany,City Hotel,0,205,2017,August,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

,iso2,iso3,iso_num,country_x,country_common,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,...,Lower Confidence Interval,Upper Confidence Interval,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual
0,PT,PRT,620.0,Portugal,Portugal,Resort Hotel,0,342,2015,July,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PT,PRT,620.0,Portugal,Portugal,Resort Hotel,0,737,2015,July,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,7,2015,July,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,13,2015,July,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,Resort Hotel,0,14,2015,July,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,BE,BEL,56.0,Belgium,Belgium,City Hotel,0,23,2017,August,...,NaN,NaN,17.0,6.891,6.955821,6.826179,1.463781,0.818092,0.251343,2.124210
119386,FR,FRA,250.0,France,France,City Hotel,0,102,2017,August,...,NaN,NaN,31.0,6.442,6.515768,6.368232,1.430923,0.844466,0.172502,2.005955
119387,DE,DEU,276.0,Germany,Germany,City Hotel,0,34,2017,August,...,NaN,NaN,16.0,6.951,7.005382,6.896619,1.487923,0.798951,0.276732,2.015770
119388,GB,GBR,826.0,United Kingdom of Great Britain and Northern I...,United Kingdom,City Hotel,0,109,2017,August,...,NaN,NaN,19.0,6.714,6.783792,6.644209,1.441634,0.805336,0.265428,1.704144
119389,DE,DEU,276.0,Germany,Germany,City Hotel,0,205,2017,August,...,NaN,NaN,16.0,6.951,7.005382,6.896619,1.487923,0.798951,0.276732,2.015770

['iso2',
 'iso3',
 'iso_num',
 'country_x',
 'country_common',
 'hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country_y',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date',
 'Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Health..Life.Expectancy.',
 'Trust..Government.Corruption.',
 'Dystopia.Residual']

In [59]:
# display data year and countries

selected_columns = ["arrival_date_year", "Year", "country_common", "Happiness Rank", "is_canceled"]
selected_df = df_travel_happy[selected_columns]

display(selected_df)


# ÃœberprÃ¼fung, ob die Werte in den beiden Spalten gleich sind
is_equal = df_travel_happy['arrival_date_year'].equals(df_travel_happy['Year'])

# Ausgabe des Ergebnisses
if is_equal:
    print("Die Werte in den Spalten 'arrival_date_year' und 'Year' sind in allen Zeilen gleich.")
else:
    print("Die Werte in den Spalten 'arrival_date_year' und 'Year' unterscheiden sich in mindestens einer Zeile.")


print(selected_df.dtypes)

# Umwandeln der Daten in der Spalte "Year" in Ganzzahlen
#df_travel_happy['Year'] = df_travel_happy['Year'].astype(int)

# ÃœberprÃ¼fen der Datentypen nach der Umwandlung
print(df_travel_happy.dtypes)

        arrival_date_year    Year  country_common  Happiness Rank  is_canceled
0                    2015  2015.0        Portugal            88.0            0
1                    2015  2015.0        Portugal            88.0            0
2                    2015  2015.0  United Kingdom            21.0            0
3                    2015  2015.0  United Kingdom            21.0            0
4                    2015  2015.0  United Kingdom            21.0            0
...                   ...     ...             ...             ...          ...
119385               2017  2017.0         Belgium             NaN            0
119386               2017  2017.0          France             NaN            0
119387               2017  2017.0         Germany             NaN            0
119388               2017  2017.0  United Kingdom             NaN            0
119389               2017  2017.0         Germany             NaN            0

[119390 rows x 5 columns]

Die Werte in den Spalten 'arrival_date_year' und 'Year' unterscheiden sich in mindestens einer Zeile.
arrival_date_year      int64
Year                 float64
country_common        object
Happiness Rank       float64
is_canceled            int64
dtype: object
iso2                               object
iso3                               object
iso_num                           float64
country_x                          object
country_common                     object
hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country_y                          object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
Country                            object
Region                             object
Happiness Rank                    float64
Happiness Score                   float64
Standard Error                    float64
Economy (GDP per Capita)          float64
Family                            float64
Health (Life Expectancy)          float64
Freedom                           float64
Trust (Government Corruption)     float64
Generosity                        float64
Dystopia Residual                 float64
Year                              float64
Lower Confidence Interval         float64
Upper Confidence Interval         float64
Happiness.Rank                    float64
Happiness.Score                   float64
Whisker.high                      float64
Whisker.low                       float64
Economy..GDP.per.Capita.          float64
Health..Life.Expectancy.          float64
Trust..Government.Corruption.     float64
Dystopia.Residual                 float64
dtype: object

In [65]:
# Erstmal Ã¼berall wo kein Wert bei Year steht rausschmeiÃŸen

selected_columns = ["arrival_date_year", "Year", "country_common", "Happiness Rank", "is_canceled"]
selected_df = df_travel_happy[selected_columns]

display(selected_df)

# LÃ¶schen aller Zeilen, in denen in der Spalte "Year" kein Wert steht
selected_df = selected_df.dropna(subset=['Year'])

# ÃœberprÃ¼fen der Daten nach dem LÃ¶schen der Zeilen
display(selected_df)

# LÃ¶schen aller Zeilen, in denen in der Spalte "Happines Rank" kein Wert steht
selected_df = selected_df.dropna(subset=['Happiness Rank'])

# ÃœberprÃ¼fen der Daten nach dem LÃ¶schen der Zeilen
display(selected_df)

        arrival_date_year    Year  country_common  Happiness Rank  is_canceled
0                    2015  2015.0        Portugal            88.0            0
1                    2015  2015.0        Portugal            88.0            0
2                    2015  2015.0  United Kingdom            21.0            0
3                    2015  2015.0  United Kingdom            21.0            0
4                    2015  2015.0  United Kingdom            21.0            0
...                   ...     ...             ...             ...          ...
119385               2017  2017.0         Belgium             NaN            0
119386               2017  2017.0          France             NaN            0
119387               2017  2017.0         Germany             NaN            0
119388               2017  2017.0  United Kingdom             NaN            0
119389               2017  2017.0         Germany             NaN            0

[119390 rows x 5 columns]

        arrival_date_year    Year  country_common  Happiness Rank  is_canceled
0                    2015  2015.0        Portugal            88.0            0
1                    2015  2015.0        Portugal            88.0            0
2                    2015  2015.0  United Kingdom            21.0            0
3                    2015  2015.0  United Kingdom            21.0            0
4                    2015  2015.0  United Kingdom            21.0            0
...                   ...     ...             ...             ...          ...
119385               2017  2017.0         Belgium             NaN            0
119386               2017  2017.0          France             NaN            0
119387               2017  2017.0         Germany             NaN            0
119388               2017  2017.0  United Kingdom             NaN            0
119389               2017  2017.0         Germany             NaN            0

[114445 rows x 5 columns]

        arrival_date_year    Year  country_common  Happiness Rank  is_canceled
0                    2015  2015.0        Portugal            88.0            0
1                    2015  2015.0        Portugal            88.0            0
2                    2015  2015.0  United Kingdom            21.0            0
3                    2015  2015.0  United Kingdom            21.0            0
4                    2015  2015.0  United Kingdom            21.0            0
...                   ...     ...             ...             ...          ...
104142               2016  2016.0          France            32.0            0
104145               2016  2016.0        Portugal            94.0            0
104147               2016  2016.0          France            32.0            0
104216               2016  2016.0         Germany            16.0            0
104219               2016  2016.0         Germany            16.0            0

[75887 rows x 5 columns]

In [66]:

### Hier stehen geblieben, muss noch die Zeilen rauslÃ¶schen die ungleich Null bei is_canceld sind


freq = selected_df[(selected_df["is_canceled"] != 0)]

# LÃ¶schen aller Zeilen, in denen in der Spalte "Happines Rank" kein Wert steht
selected_df = selected_df.dropna(subset=['Happiness Rank'])

# Frequenz an LÃ¤ndern ohne is_canceled (Resort vs City)
#freq = selected_df[(selected_df["is_canceled"] == 0)]["country_common"].value_counts().reset_index()



#freq_City = selected_df[(selected_df["is_canceled"] == 0) & (selected_df["hotel"] == "City Hotel")]["country"].value_counts().reset_index()
#freq_Resort = selected_df[(selected_df["is_canceled"] == 0) & (selected_df["hotel"] == "Resort Hotel")]["country"].value_counts().reset_index()

print(freq)
#print(freq_City)
#print(freq_Resort)

#freq_City.columns = ["country", "City_value_counts"]
#display(freq_City)

#freq_Resort.columns = ["country", "Resort_value_counts"]
#display(freq_Resort)

     country_common  count
0          Portugal  15641
1    United Kingdom   5822
2            France   5568
3             Spain   4650
4           Germany   3804
..              ...    ...
108           Kenya      1
109    Burkina Faso      1
110        Botswana      1
111         Myanmar      1
112         Burundi      1

[113 rows x 2 columns]